.kitty-1 {
  position: absolute;
  top: 20px;
  left: 100px;
}

#kitty-2 {
  position: absolute;
  top: 50px;
  left: 120px;
}

#basket img {
  position: absolute;
  top: 100px;
  left: 150px;
}

#ball + img {
  position: absolute;
  top: 140px;
  left: 180px;
}

img[alt="Kitty 5"] {
  position: absolute;
  top: 180px;
  left: 210px;
}
