.kitty-1 {
    border: 2px solid pink;
  }
  
  #kitty-2 {
    border: 2px solid orange;
  }
  
  #basket img {
    border: 2px solid yellow;
  }
  
  #ball + img {
    border: 2px solid green;
  }
  
  img[alt="Kitty 5"] {
    border: 2px solid blue;
  }
  